<%= form_for @user do |f| %>
<div class="field">
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>

<div class="field">
  <%= f.label :organization %>
  <%= f.text_field :organization%>
</div>

<div class="field">
  <%= f.label :services %>
  <%= f.text_field :services %>
</div>
