<%= fields_for :profile do |ff| %>
<div>
  <%= ff.label :location %>
  <%= ff.text_field :location %>
</div>

<div>
  <%= ff.label :organization %>
  <%= ff.text_field :organization%>
</div>

<div>
  <%= ff.label :additional_info %>
  <%= ff.text_field :additional_info %>
</div>

<div>
  <%= ff.submit %>
</div>

<% end %>
