<h1><%= @user.username %></h1>



<% if !@profile.nil? %>
Location: <%= @profile.location %><br/>
Oganization I work with or represent: <%= @profile.oraginization %><br/>
Additional info: <%= @profile.additional_info %><br/>
<% end %>
<br>
<% if @user.upvoted_cities.present? %>
<strong>Upvoted Cities:</strong><br/>
<% @user.upvoted_cities.each do |city| %>
<%= link_to city.name, city_path(city) %>, <%= city.state %><br/>
<% end %>
<% end %>
<br>
<% if @user.downvoted_cities.present? %>
<strong>Downvoted Cities:</strong><br/>
<% @user.downvoted_cities.each do |city| %>
<%= link_to city.name, city_path(city) %>, <%= city.state %><br/>
<% end %>
<% end %>
<br>
<% if current_user == @user && @user.profile.nil? %>
<%= form_for :profile do |ff| %>
<div>
  <%= ff.label :location %>
  <%= ff.text_field :location %>
</div>

<div>
  <%= ff.label :organization %>
  <%= ff.text_field :organization%>
</div>

<div>
  <%= ff.label :additional_info %>
  <%= ff.text_field :additional_info %>
</div>

<div>
  <%= ff.submit %>
</div>

<%= link_to "Edit Login Info", edit_user_registration_path(@user) %>
<% end %>
<% end %>

<% if current_user.admin? && @user != current_user && !@user.admin? %>
<%= link_to "Make User Admin", make_admin_user_path(@user) %><br/>
<% end %>
<br>
