<h1><%= @city.name %>, <%= @city.state %></h1>
<h2><%= @city.official_status.humanize %></h2>
<h2>Rank based on total votes: <%= @city.rank_by_total_votes %></h2>
<strong>votes: <%= @city.vote_balance %></strong><br/>
<strong>upvotes: <%= @city.upvote_count %></strong><br/>
<strong>downvotes: <%= @city.downvote_count %></strong><br/>

<%= button_to "upvote", upvote_city_vote_path(@city) %>
<%= button_to "downvote", downvote_city_vote_path(@city) %><br/>

<% if @vote && !@vote.comment.present?%>
<%= link_to "Add a comment to your vote", new_vote_comment_path(@vote)%><br><br/>
<% elsif @vote && @comment.present? %>
<br><%= link_to "Edit your vote or comment", edit_vote_path(@vote) %><br/>
<br><%= button_to 'Delete your comment', [ @vote, @comment ], method: :delete %><br/>
<% end %>

<br><strong>User vote comments:</strong><br/>
<% if @city.comments.present? %>
<% @city.comments.each do |comment|%>
<%= link_to comment.user.username, user_path(comment.user) %>, <%= comment.vote.vote_type %>d : <%= comment.content %><br><br/>
<% end %>
<% end %>
