<h1><%= @city.name %>, <%= @city.state %></h1>
<h2><%= @city.official_status.humanize %></h2>
<h2>Rank based on total votes: <%= @city.rank_by_total_votes %></h2>
<strong>votes: <%= @city.vote_balance %></strong><br/>
<strong>upvotes: <%= @city.upvote_count %></strong><br/>
<strong>downvotes: <%= @city.downvote_count %></strong><br/>
<%= button_to "upvote", upvote_city_path(@city) %>
<%= button_to "downvote", downvote_city_path(@city) %><br/>
<strong>User vote comments:</strong><br/>
<% @city.comments.each do |comment| %>
<%= comment.user.username %>, <%= comment.vote.vote_type %>d : <%= comment.content %><br><br/>
<% end %>
<% if @city.votes.includes(current_user.id) && !@city.comments.includes(current_user.id)%>
<%= link_to "Add a comment to your vote", new_comment_path(vote_id: @vote, user_id: current_user) %>
<% else %>
<%= link_to "Edit your vote comment", edit_comment_path(@comment) %>
<% end %>
