<h1><%= @city.name %>, <%= @city.state %></h1>
<h2><%= @city.official_status.humanize %></h2>
<h2>Rank based on total votes: <%= @city.rank_by_total_votes %></h2>
<strong>votes: <%= @city.vote_balance %></strong><br/>
<strong>upvotes: <%= @city.upvote_count %></strong><br/>
<strong>downvotes: <%= @city.downvote_count %></strong><br/>
<%= button_to "upvote", upvote_city_vote_path(@city) %>
<%= button_to "downvote", downvote_city_vote_path(@city) %><br/>
<strong>User vote comments:</strong><br><br/>

<% if @city.comments.any? %>
<% @city.votes.each do |vote|%>
<%= link_to vote.user.username %>, <%= vote.vote_type %>d : <%= vote.comment.content %><br><br/>
<% end %>
<% end %>

<% if @vote && !@vote.comment.present?%>
<%= link_to "Add a comment to your vote", new_vote_comment_path(@vote)%>
<% elsif @vote && @vote.comment.present? %>
<%= link_to "Edit your vote or comment", edit_vote_path(@vote) %>
<% end %>
