<h1><%= @city.name %>, <%= @city.state %></h1>
<h2><%= @city.official_status.humanize %></h2>
<h2>Rank based on total votes: <%= @city.rank_by_total_votes %></h2>
<strong>votes: <%= @city.vote_balance %></strong><br/>
<strong>upvotes: <%= @city.upvote_count %></strong><br/>
<strong>downvotes: <%= @city.downvote_count %></strong><br/>
<%= button_to "upvote", upvote_city_path(@city) %>
<%= button_to "downvote", downvote_city_path(@city) %><br/>
<% @city.comments.each do |comment| %>
<%= comment.content %>
<% end %>
<% if current_user.votes.includes(@city.id) && @city.votes.includes(current_user.id)%>
<%= link_to "Add a comment to your vote", new_comment_path(vote_id: @vote) %>
<% end %>
