<h1>Change your <%= @vote.vote_type %> or edit comment for <%= @vote.city.name %> </h1>
<%= form_for [ @city, @vote ] do |f| %>
<%= render 'layouts/error_messages', :object => @vote %>
  <%= f.label :vote_type %>
  <%= f.select :vote_type, Vote.vote_types.keys %><br><br/>
  <%= f.fields_for :comment do |ff| %>
  <%= ff.label :comment_content %><br/>
  <%= ff.text_area :content, rows: 10, cols: 60 %><br>
  <%= ff.hidden_field :vote_id %>
  <%= f.submit "update vote or comment"%>
  <% end %>
<% end %>
