Welcome <%= current_user.username %><br/>
<br>
<span><%= link_to "About Sanctuary Cities", about_path %> |
<%= link_to "Popular Cities", popular_path %> |
<%= link_to "All Cities", cities_path %> |
<% if current_user.admin? %> |
<%= link_to "All Users", users_path %></span>
<% end %>

<% if !current_user.id.nil? %>
<%= link_to "Profile", user_path(current_user) %><br/>
<% end %>

<%= link_to "Back", :back %>

<% if current_user.username == "guest" %>
<%= button_to "Login", new_user_session_path, method: :get %>
<%= button_to "Login with Google", user_google_oauth2_omniauth_authorize_path %>
<%= button_to "Sign up", new_user_registration_path, method: :get %><br/>
<% else %>
<%= button_to "Sign out", destroy_user_session_path, method: :delete %><br/>
<% end %>
<hr>
